@import '../../index.scss';

.ui-iconButton {
    width: $pd-l * 2;
    height: $pd-l * 2;
    padding: 0;

    color: var(--primary);

    &:hover {
        color: var(--primary-hover);
    }

    &_destructive:hover {
        color: var(--destructive);

        @media (hover: none) {
            color: var(--primary);
        }
    }

    &_destructive:active {
        color: var(--destructive);
    }
}
