@import '../../index.scss';

.list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: $pd-m;

    padding: $pd-l;
    border-radius: $radius;
    min-height: 72px;
    box-sizing: border-box;

    &_base {
        border: solid;
        border-width: 1px;
        border-color: var(--text);
    }

    &__done {
        transform: scale(1.5);
        accent-color: var(--primary-hover);
    }
}
