@use 'sass:math';
@import '../../index.scss';

.list_add {
    margin-bottom: $pd-m;

    & > form {
        display: flex;
        flex-direction: row;
        gap: $pd-m;
        width: 100%;
    }

    &_input {
        border: solid;
        border-color: grey;
        border-width: 1px;
        width: 100%;

        &_wrapper {
            width: 70%;
            flex-grow: 1;
        }
    }

    &_button {
        background-color: var(--primary);
        color: var(--background);
        &:hover {
            background-color: var(--primary-hover);
        }
    }
}

.error_msg {
    color: var(--text);
    font-size: 14px;
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    background-color: var(--background);
    text-align: center;
}
