@import "../index.scss";

.list {
    &_wrapper {
        width: 600px;
        max-width: 100%;
    }

    &_add {
        margin-bottom: $pd-m;

        & > form {
            display: flex;
            flex-direction: row;
            gap: $pd-m;
        }

        &_input {
            border: solid;
            border-color: grey;
            border-width: 1px;
            // background-color: white;
        }

        &_button {
            background-color: var(--c-button);
            color: white;
            &:hover {
                background-color: var(--c-button-hover);
            }
        }
    }

    &_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        padding: $pd-l;
        border: solid ;
        border-radius: $radius;
        border-width: 1px;
        border-color: lightgrey;
        // background-color: $c-gold;

        &_done {
            transform: scale(1.5);
        }

        & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $pd-l;
        }

        &_delete {
            color: lightgrey;
        }
        &_delete:hover {
            color: var(--c-header);
        }
    }

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: $pd-m;
        
}

.input {
    padding: $pd-m;
    border-radius: $radius/2;
    box-sizing: border-box;
    color: var(--c-text);
}

.edit_input {
    margin: $pd-m /2;
    padding: $pd-m /2;
    background-color: var(--c-edit-bg);
    color: var(--c-text);
}

.theme_icon {
    align-self: flex-end;
    justify-self: start;
    opacity: 80%;
    margin: 0;
}
.theme_icon:hover {
    opacity: 100%;
}
.error_msg {
    color: var(--c-text);
    font-size: 14px;
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    background-color: var(--c-bg);
    text-align: center;
}