@import '../../index.scss';

.wrapper {
    margin: 0;
    padding: $pd-l;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;

    &__corner_icons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;

        position: sticky;
        top: $pd-l;
    }
}

.header {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 60px;
    font-style: italic;
    color: var(--accent);
}
