body[data-theme='light'] {
    --text: #000000;
    --background: #ffffff;
    --background-secondary: #f3ca40;
    --primary: #564a56;
    --primary-hover: #2b252b;
    --destructive: #e02639;
    --accent: #3a2e39;
}
body[data-theme='dark'] {
    --text: #ffffff;
    --background: #2b252b;
    --background-secondary: #4c394c;
    --primary: #f3ca40;
    --primary-hover: #ffd95c;
    --destructive: #e02639;
    --accent: #fff8ff;
}
